@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

$heightHeader: 60px;
$widthPage: 100%;
$textColorPrimary: #161823;
$colorPrimary: #21aa93;
$textColorSecond: #161823bf;

:root {
    --width-page: 100%;
    --height-header: 60px;
    --color-primary: #21aa93
    --text-color-primary: #161823;
    --text-coloe-second: #161823bf;
    --color-white: #FFFFFFFF;
    --border-color: #0000001f;
    --background-hover: rgb(22 24 35 / 3%);
}

html {
    font-size:62.5%
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Roboto', sans-serif;
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    color: $textColorPrimary;
}

button, input, [tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: $textColorPrimary;
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    align-items: space-between;
    flex-direction: column;
}

.container {
    max-width: $widthPage;
    width: $widthPage;
    margin: 0 auto;
    display: flex;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-start {
    justify-content: start;
}

// BUTTON

.btn {
    padding: 10px 14px;
    border-radius: 4px;
}
.btn-primary {
    background-color: $colorPrimary;
}
