.side-bar-list-chat {
    min-width: 320px;

    .side-bar-list-chat__item {
        padding: 16px;
        border-radius: 4px;
        background-color: #ffffff;
        display: flex;

        .side-bar-list-chat__item-content {
            padding-left: 15px;
            font-size: 14px;
            color: var(--text-color-primary);
        }
        .side-bar-list-chat__item-content-text {
            padding-top: 8px;
        }
    }
}