.side-bar-list-chat {
    max-width: 360px;

    .side-bar-list-chat__item {
        padding: 14px;
        border-radius: 4px;
        background-color: #ffffff;
        display: flex;
        margin-bottom: 12px;
        position: relative;

        &:hover {
            .list-action {
                visibility: visible;
            }
        }
        .list-action {
            visibility: hidden;
            display: flex;
            gap: 10px;
            position: absolute;
            right: 12px;
            top: 12px;
            font-size: 12px;
            transition: 0.1s linear;

            .icon-thumb-tack {
                color: rgb(223, 223, 27);
                &:hover {
                    cursor: pointer;
                }
            }
            .icon-trash {
                color: rgb(245, 78, 49);
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .side-bar-list-chat__item-content {
            padding-left: 15px;
            font-size: 14px;
            color: var(--text-color-primary);
        }
        .side-bar-list-chat__item-content-text {
            padding-top: 8px;
            max-width: 275px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}