.side-bar-list-chat {
    min-width: 300px;

    .side-bar-list-chat__item {
        padding: 16px;
        border-radius: 4px;
        background-color: #ffffff;
        display: flex;

        .side-bar-list-chat__item-content {
            padding-left: 12px;
            font-size: 14px;
        }
    }
}