@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

$heightHeader: 60px;
$widthPage: 100%;
$textColorPrimary: #555555;
$colorPrimary: #21aa93;
$textColorSecond: #161823bf;
$bg-layout: #f3f2ef;
$colorDanger: #ff0000;
:root {
    --width-page: 100%;
    --height-header: 60px;
    --color-primary: #21aa93;
    --text-color-primary: #555555;
    --text-coloe-second: #161823bf;
    --color-white: #FFFFFFFF;
    --border-color: #0000001f;
    --background-hover: rgb(22 24 35 / 3%);
    --bg-layout: #f3f2ef;
    --color-danger: #ff0000;
}

html {
    font-size:62.5%
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Roboto', sans-serif;
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    color: $textColorPrimary;
}

button, input, [tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: $textColorPrimary;
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    align-items: space-between;
    flex-direction: column;
    background-color: $bg-layout;
}

.container {
    max-width: $widthPage;
    width: $widthPage;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.content {
    flex: 1;
    background-color: #FFFFFFFF;
}
// BUTTON
button{
    background-color: transparent;
    border: none;
    &:hover {
        cursor: pointer;
    }
}
.btn {
    padding: 10px 14px;
    border-radius: 4px;
    &:hover{
        cursor: pointer;
    }
}
.btn-primary {
    background-color: $colorPrimary;
    color: #FFFFFFFF;
}


.text-danger {
    color: $colorDanger;
    font-size: 12px;
    margin: 5px 0 0;
}